.logs-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;

  .log {
    p {
      font-size: 1.6rem;
    }

    .action {
      &.green {
        color: var(--green);
      }

      &.red {
        color: var(--red);
      }
    }
  }
}
